.hall-slider-text-layout {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    display: flex;
}

.hstl-content-wrap {
    width: 50%;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hstl-content-wrap .hstl-text {
    margin-left: 80px;
    width: 100%;
}

.hstl-content-wrap .hstl-text .hstl-title {
    display: flex;
    flex-direction: column;
    font-size: 3.4rem;
    color: var(--white);
    user-select: none;
    margin-bottom: 4rem;
    position: relative;
}

.hstl-content-wrap .hstl-text .hstl-title::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 8px;
    border-radius: 2px;
    background-color: var(--dark-color);
    bottom: -2rem;
    left: 0;
}

.hstl-content-wrap .hstl-text .hstl-desc {
    max-width: 400px;
    color: var(--white);
    margin-bottom: 2rem;
    user-select: none;
}

.hstl-content-wrap .hstl-text .hstl-capacity {
    color: var(--white);
    margin-bottom: 2rem;
}

.hstl-content-wrap .hstl-text .hstl-capacity span {
    margin-left: 1rem;
    user-select: none;
    font-weight: 100;
}

.hstl-content-wrap .hstl-text .hstl-btn {
    max-width: 200px !important;
    height: 40px;
    width: 200px;
}

.hstl-content-wrap .hstl-text .hstl-btn a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    position: relative;
    background-color: var(--dark-color);
}

.hstl-content-wrap .hstl-text .hstl-btn a h3 {
    color: var(--white);
    text-transform: uppercase;
    user-select: none;
    z-index: 2;
    transition: color .4s ease;
}

.hstl-content-wrap .hstl-text .hstl-btn a:hover h3 {
    color: var(--dark-color);
}

.hstl-content-wrap .hstl-text .hstl-btn a svg {
    color: var(--white);
    user-select: none;
    z-index: 2;
    transition: color .4s ease;
}

.hstl-content-wrap .hstl-text .hstl-btn a:hover svg {
    color: var(--dark-color);
}


.hstl-content-wrap .hstl-text .hstl-btn a::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 1;
    transition: width .4s ease;
}

.hstl-content-wrap .hstl-text .hstl-btn a:hover::after {
    width: 100%;
}

.hstl-slider {
    height: 540px;
    width: 50%;
}

@media only screen and (max-width: 1440px) {
    .hstl-content-wrap .hstl-text {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .hstl-content-wrap .hstl-text {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .hstl-content-wrap .hstl-text {
        margin-left: 15px;
    }

    .hstl-content-wrap .hstl-text .hstl-desc {
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .hstl-content-wrap .hstl-text {
        margin-left: 10px;
    }

    .hall-slider-text-layout {
        flex-direction: column;
    }

    .hstl-content-wrap {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }

    .hstl-slider {
        width: 100%;
        height: 480px;
    }
}

@media only screen and (max-width: 376px) {
    .hstl-content-wrap .hstl-text {
        margin-left: 5px;
    }
}