.restaurant-about-gameroom {
    width: 100%;
    height: auto;
    position: relative;
    padding: 3rem 0;
    background-color: var(--restaurant-background);
}

.rag-content {
    width: auto;
    height: 100%;
    margin: 0 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.rag-column {
    width: 100%;
    height: 380px;
}

.rag-column:nth-child(1) {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.rag-column:nth-child(1) .rag-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.rag-column:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.rag-column:nth-child(2)::-webkit-scrollbar {
    display: none;
}

.rag-column:nth-child(2) .rag-tree1 {
    position: absolute;
    top: calc(50% + 15%);
    left: calc(50% - 20%);
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 70%;
}

.rag-tree1-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--restaurant-background);
    opacity: .4;
    z-index: 2;
}

.rag-column:nth-child(2) .rag-tree2 {
    position: absolute;
    top: calc(50% + 12%);
    left: calc(50% + 20%);
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 70%;
}

.rag-tree2-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--restaurant-background);
    opacity: .4;
    z-index: 4;
}

.rag-column:nth-child(2) .rag-tree3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    height: 100%;
}

.rag-tree3-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--restaurant-background);
    opacity: .4;
    z-index: 6;
}

.rag-text-bottom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, var(--restaurant-background), transparent 30%);
    z-index: 10;
}

.rag-text-top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, var(--restaurant-background), transparent 30%);
    z-index: 10;
}

.rag-column:nth-child(2) h1 {
    color: var(--dark-color);
    font-family: var(--restaurant-font);
    font-size: 2.4rem;
    text-align: left;
    user-select: none;
    z-index: 20;
}

.rag-column:nth-child(2) h3 {
    color: var(--white);
    font-family: var(--restaurant-font);
    text-align: left;
    user-select: none;
    z-index: 20;
}

@media only screen and (max-width: 1440px) {
    .rag-content {
        margin: 0 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .rag-content {
        margin: 0 25px;
    }
}

@media only screen and (max-width: 768px) {
    .rag-content {
        margin: 0 15px;
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (max-width: 480px) {
    .rag-content {
        margin: 0 10px;
    }

    .rag-column:nth-child(2) h1 {
        font-size: 2rem;
    }

    .rag-column:nth-child(2) .rag-tree2 {
        top: calc(50% + 12%);
        left: calc(50% + 22%);
    }

    .rag-column:nth-child(2) .rag-tree1 {
        top: calc(50% + 12%);
        left: calc(50% - 22%);
    }
}

@media only screen and (max-width: 376px) {
    .rag-content {
        margin: 0 5px;
    }

    .rag-column:nth-child(2) h3 {
        font-size: 1rem;
    }
}