.restaurant-about-section {
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background-color: var(--restaurant-background);
    position: relative;
}

.ras-content {
    width: auto;
    height: 100%;
    margin: 0 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.ras-column {
    width: 100%;
    height: 380px;
}

.ras-column:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.ras-column:nth-child(1) h3 {
    font-family: var(--restaurant-font);
    text-align: left;
    color: var(--restaurant-text);
    user-select: none;
    z-index: 30;
}

.ras-column:nth-child(2) {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    z-index: 2;
}

.ras-column:nth-child(2) .ras-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

@media only screen and (max-width: 1440px) {
    .ras-content {
        margin: 0 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .ras-content {
        margin: 0 25px;
    }
}

@media only screen and (max-width: 768px) {
    .ras-content {
        margin: 0 15px;
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (max-width: 480px) {
    .ras-content {
        margin: 0 10px;
    }

    .ras-column:nth-child(1) h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 376px) {
    .ras-content {
        margin: 0 5px;
    }

    .ras-column:nth-child(1) h3 {
        font-size: .9rem;
    }
}