.small-hall {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.sh-table {
    position: absolute;
    top: calc(50% + 25%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    z-index: 5;
}

.sh-curtain-left {
    position: absolute;
    top: 50%;
    left: calc(50% - 45%);
    transform: translate(-50%, -50%);
    height: 120%;
    z-index: 6;
}

.sh-curtain-right {
    position: absolute;
    top: 50%;
    left: calc(50% + 45%);
    transform: translate(-50%, -50%);
    height: 120%;
    z-index: 6;
}

.sh-content {
    width: 100%;
    height: calc(480px + 3rem);
    z-index: 30;
}

.sh-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sh-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: .3;
    z-index: 4;
}

.sh-main-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    background: linear-gradient(to bottom, var(--white), transparent 30%);
    z-index: 10;
}

.sh-main-bottom-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    background: linear-gradient(to top, var(--white), transparent 30%);
    z-index: 10;
}

.sh-content-wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 35;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sh-content-inner {
    width: 100%;
    height: 80%;
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sh-content-inner h1 {
    font-family: var(--hall-font);
    color: var(--dark-color);
    text-align: center;
    user-select: none;
    font-size: 3rem;
    font-weight: 100;
}

.sh-content-inner h3 {
    font-family: var(--hall-font);
    color: #000;
    text-align: center;
    user-select: none;
}

.sh-content-inner a {
    width: 200px;
    height: 45px;
    background-color: var(--dark-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sh-content-inner a h3 {
    color: var(--white);
    font-family: var(--hall-font);
    z-index: 2;
    transition: color .3s ease;
}

.sh-content-inner a:hover h3 {
    color: var(--dark-color);
}

.sh-content-inner a::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--white);
    z-index: 1;
    transition: all .3s ease;
}

.sh-content-inner a:hover::after {
    width: 100%;
}

@media only screen and (max-width: 1440px) {
    .sh-content-inner {
        margin: 0 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .sh-content-inner {
        margin: 0 25px;
    }

    .sh-table {
        width: 80%;
        top: calc(50% + 22%);
    }
}

@media only screen and (max-width: 768px) {
    .sh-content-inner {
        margin: 0 15px;
    }

    .sh-content-inner h1 {
        font-size: 2.6rem;
    }

    .sh-content-inner h3 {
        font-size: .9rem;
    }

    .sh-table {
        width: 80%;
        top: calc(50% + 28%);
    }
}

@media only screen and (max-width: 480px) {
    .sh-content-inner {
        margin: 0 10px;
    }

    .sh-table {
        width: 120%;
        top: calc(50% + 32%);
    }
}

@media only screen and (max-width: 376px) {
    .sh-content-inner {
        margin: 0 5px;
    }

    .sh-table {
        width: 140%;
        top: calc(50% + 34%);
    }
}