.hero-gallery-card {
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    user-select: none;
    overflow-y: hidden;
}

.hero-gallery-card::-webkit-scrollbar {
    display: none;
}

.hgc-inner {
    width: 90%;
    height: 100%;
    position: relative;
}

.hgc-inner::after {
    position: absolute;
    content: 'Košuta';
    width: 120px;
    height: 45px;
    background-color: var(--restaurant-background);
    top: 10px;
    left: -6%;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--hall-font);
    color: var(--white);
    font-size: 1.2rem;
}

.hgc-inner::before {
    position: absolute;
    content: 'Sale';
    width: 120px;
    height: 45px;
    background-color: var(--restaurant-background);
    bottom: 10px;
    right: -6%;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--hall-font);
    color: var(--white);
    font-size: 1.2rem;
}

.hgc-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}