.restaurant-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--restaurant-background);
    overflow: hidden;
}

.rh-bird {
    background-image: url('../../../../Assets//Restaurant//bird.svg');
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    z-index: 999;
    animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: -0.5s;	
}

.rh-bird-container {
    position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    z-index: 999;
    animation-duration: 15s;
    animation-delay: 0;
}

.rh-bird2 {
    background-image: url('../../../../Assets//Restaurant//bird.svg');
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    z-index: 999;
    animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.rh-bird-container2 {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
    z-index: 999;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}

.rh-bird3 {
    background-image: url('../../../../Assets//Restaurant//bird.svg');
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    z-index: 999;
    animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}

.rh-bird-container3 {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
    z-index: 999;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-delay: 1s;
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

.rh-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rhw-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 199;
    opacity: 0.5;
    transition: opacity .3s ease;
}

.rhw-btn svg {
    color: var(--dark-color);
    font-size: 1rem;
}

.rhw-btn:hover {
    opacity: 1;
}

.rhw-prev {
    left: 30px;
}

.rhw-next {
    right: 30px;
}

@media only screen and (max-width: 1440px) {
    .rhw-prev {
        left: 20px;
    }

    .rhw-next {
        right: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .rhw-prev {
        left: 5px;
    }

    .rhw-next {
        right: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .rhw-prev {
        left: 0px;
    }

    .rhw-next {
        right: 0px;
    }

    .rhw-btn {
        width: 30px;
        height: 30px;

        svg {
            font-size: .8rem;
        }
    }
}