@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Open+Sans&family=Poly:ital@0;1&display=swap');

:root {
  --restaurant-font: 'Old Standard TT', serif;
  --hall-font: 'Poly', serif;
  --restaurant-background: #9AB498;
  --restaurant-title: #01B636;
  --white: #fff;
  --dark-color: #0b372d;
  --restaurant-text: #03100d;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--restaurant-background);
}

.page-section {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.fade-in {
  opacity: 0;
  transition: opacity .4s ease;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: all .4s ease;
}

.from-right {
  transform: translateX(100%);
  opacity: 0;
  transition: all .4s ease;
}

.from-left.appear, .from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.from-top {
  transform: translateY(-100%);
  opacity: 0;
  transition: all .4s ease;
}

.from-bottom {
  transform: translateY(100%);
  opacity: 0;
  transition: all .4s ease;
}

.from-top.appear, .from-bottom.appear {
  transform: translateY(0);
  opacity: 1;
}